body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background:linear-gradient(to top right,lightpink,lightblue);
}

.slider-container{
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}

.image-container{
    display: flex;
    transition: transform .4s ease-in-out;
}

.btn{
    position:absolute;
    top: 50%;
    color: white;
    font-size: 20px;
    transform: translateY(-50%);
    opacity: .6;
}

.btn.prev{
    left:10px
}

.btn.next{
    right: 10px;
}

.btn:hover{
    opacity: 1;
}